/**
 * This file is part of the MediaWiki extension PageProperties.
 *
 * PageProperties is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 2 of the License, or
 * (at your option) any later version.
 *
 * PageProperties is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with PageProperties.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @file
 * @ingroup extensions
 * @author thomas-topway-it <support@topway.it>
 * @copyright Copyright ©2021-2023, https://wikisphere.org
 */

/* stylelint-disable block-no-empty */

.pageproperties_dynamictable {
	width: 100%;
	margin-bottom: 12px;
}

.pageproperties_dynamictable label {
	display: inline;
}

.pageproperties_dynamictable_key_cell {
	width: 50%;
}

.pageproperties_dynamictable_key_cell,
.pageproperties_dynamictable_value_cell,
.pageproperties_dynamictable_cancel_cell {
	padding: 2px;
}

.pageproperties_dynamictable_row {
	vertical-align: top;
}

.pageproperties_dynamictable_row .oo-ui-fieldLayout::before,
.oo-ui-fieldLayout::after {
	display: inline;
}

.oo-ui-comboBoxInputWidget-field {
	/* border-spacing: 0; */
}

.pageproperties_dynamictable td {
	padding-top: 4px;
}

.pageproperties-datatable tr td {
	cursor: pointer;
}

.pageproperties-datatable-left {
	float: left;
}

.pageproperties-datatable-right {
	float: right;
}

.PagePropertiesForm .oo-ui-panelLayout-expanded {
	position: relative;
}

.PagePropertiesForm .oo-ui-menuLayout-expanded {
	position: relative;
}

.PagePropertiesForm .oo-ui-menuLayout-expanded > .oo-ui-menuLayout-menu {
	position: relative;
}

.PagePropertiesForm .oo-ui-menuLayout-expanded > .oo-ui-menuLayout-content {
	position: relative;
}

.PagePropertiesForm {
	max-width: 600px;
}

.PagePropertiesForm.PagePropertiesFormContext-EditSemantic {
	max-width: none;
	background: #f8f9fa;
}

.pageproperties-datatable {
}

.PagePropertiesEditSemanticOuterStackPanel.oo-ui-panelLayout-padded.oo-ui-panelLayout-framed {
	margin: 0;
}

.PanelPropertiesStackPanelSingle {
	padding: 12px;
}

.PanelPropertiesStackPanelTabs {

}

.PanelPropertiesStackPanelBooklets {
	padding: 12px;
}

.PanelPropertiesStackPanelFieldset {
	padding: 12px;
}

.PanelPropertiesStack {
	border: 1px solid #ccc;
	margin-bottom: 16px;
}

.PagePropertiesFormWrapper .oo-ui-toolbar-position-top > .oo-ui-toolbar-bar {
	border-bottom: medium;
}

.PanelPropertiesStack-empty {
	min-height: 0;
	margin-bottom: 0;
}

.oo-ui-bookletLayout-stackLayout > .oo-ui-panelLayout.pageproperties-forms-fields-panel {
	padding: 0;
}

.oo-ui-bookletLayout-stackLayout > .oo-ui-panelLayout.pageproperties-schemas-panel-properties {
	padding: 0;
}

.pageproperties-schemas-properties-contentframe {
	padding: 16px 18px 18px;
}

.PagePropertiesItemWidget {
	padding: 10px 0;
	display: block;
}

.mw-widget-dateInputWidget-calendar {
	z-index: 10;
}

.iti {
	width: 100%;
}

.pageproperties-form-table-multiple-fields {
	width: 100%;
}

.pageproperties-form-table-multiple-fields > div:first-child {
	padding-right: 12px;
}

.pageproperties-horizontal-section-remove-row {
	width: 1%;
	vertical-align: middle;
}

.PagePropertiesGroupWidgetPanel .oo-ui-horizontalLayout .oo-ui-numberInputWidget-field,
.PagePropertiesGroupWidgetPanel-border .oo-ui-horizontalLayout .oo-ui-numberInputWidget-field {
	table-layout: auto;
}

.PagePropertiesGroupWidgetMessageWidget {
	margin-bottom: 12px;
	/* to avoid overlapping edit button */
	margin-right: 20px;
}

.PanelPropertiesStackPanelSingle,
.PanelPropertiesStack {
	position: static;
}

/* example custom class */
.PagePropertiesForm.myclass .PanelPropertiesStack {
	background: #d9ffe3;
}

.PagePropertiesFormSubmitButton {
	margin-bottom: 12px;
}

.PagePropertiesFormFieldMessage {
	margin: 12px 0;
}

.PagePropertiesForm .PanelPropertiesStackPanelTabs .oo-ui-indexLayout.oo-ui-menuLayout.oo-ui-menuLayout-expanded > .oo-ui-menuLayout-menu {
	white-space: normal;
	height: auto;
}

.PagePropertiesForm .PanelPropertiesStackPanelTabs .oo-ui-indexLayout.oo-ui-menuLayout.oo-ui-menuLayout-expanded > .oo-ui-menuLayout-content {
	top: 0;
}

/* required for Chameleon skin */
.pageproperties-ooui-window {
	z-index: 9999;
}

.pageproperties-wikitable {

}

.pageproperties-wikitable-inner th,
.pageproperties-wikitable-inner tr td {
	text-align: left;
}

.pageproperties-form-container-edit-button {
	float: right;
	top: -16px;
	left: 16px;
	position: relative;
}

.PagePropertiesGroupWidgetPanel .mw-upload-bookletLayout-filePreview {
	width: inherit;
	height: inherit;
	background-color: inherit;
	background-size: inherit;
	background-position: inherit;
	padding: inherit;
	margin: inherit;
	margin-bottom: inherit;
	position: inherit;
}
